/docker-compose.yml @SaulCr0c0 @Fabio-3 @MijaelLujan
/package.json @SaulCr0c0 @Fabio-3 @MijaelLujan
/pnpm-workspace.yaml @SaulCr0c0 @Fabio-3 @MijaelLujan

/packages/shared-types/ @SaulCr0c0 @Fabio-3 @MijaelLujan
/apps/api/src/shared/ @SaulCr0c0 @Fabio-3 @MijaelLujan
/apps/web/src/shared/ @SaulCr0c0 @Fabio-3 @MijaelLujan
